/* font family */
  @import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;600;800&display=swap');
/* shared styles */
  *{
    font-family: 'Mulish', sans-serif;
}
.btn-primary{
    border-radius: 8px;
background: #FF5400;
width: 174px;
height: 52px;
display: flex;
color: #FFF;
text-align: center;
font-size: 16px;
font-weight: 700;
align-items: center;
padding: 16px;
cursor: pointer;
border: 0;
}
/* header styles */
header{
    background: #FFF;
    padding: 50px 130px ;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-title{
    color: #131318;
    font-size: 36px;
    font-weight: 800;
}
.nav-div{
    display: flex;
}
.nav-img{
    width: 48px;
height: 56.008px;
}
nav > ul {
    display: flex;
    display: inline-flex;
padding: 10px 0px;
justify-content: center;
align-items: center;
gap: 44px;
}
nav li{
    list-style: none;
    margin: 44px;
    font-size: 18px;
    font-weight: 400;
}
nav li a{
    text-decoration: none;
    color: var(--Dark-02, #424247);
}
.home{
    color: #FF5400;
}
/*banner styles */
.banner{
    background-image: url(../Images/Group\ 13\ \(1\)\ \(1\).png);
    width: 1170px;
height: 500px;
border-radius: 16px;
text-align: center;
margin: 0px 35px;
background-color: #131318, #13131800;
}
.banner-title{
    color: #FFF;
font-size: 64px;
font-weight: 800;
padding: 106px 287px 24px 287px;
}
.banner-des{
    color: #FFF;
text-align: center;
font-size: 16px;
font-weight: 400;
line-height: 26px; /* 162.5% */
padding: 0px 240px;
}
.a{
    width: 174px;
height: 52px;
border-radius: 8px;
background: #FFF;
}
.banner-input{
    display: inline-flex;
padding: 16px;
align-items: flex-start;
gap: 24px;
border-radius: 8px;
background: rgba(255, 255, 255, 0.30);
border: 0;
margin-top: 20px;
}
/* main styles*/
main{
    max-width: 1440px;
    margin: 0 auto;
}
/*tours styles*/
.tours{
    display: flex;
    padding: 135px;
}
.tours-title{
    color: #131318;
font-size: 40px;
font-weight: 800;
}
.tours-p1{
    color: rgba(19, 19, 24, 0.70);
font-size: 16px;
font-weight: 400;
line-height: 26px; /* 162.5% */
width: 577px;
}
.tours-ul{
    color: rgba(19, 19, 24, 0.70);
font-size: 16px;
font-weight: 400;
line-height: 26px; /* 162.5% */
width: 525px;
}
.tours-p2{
    color: #5A5A5D;
font-size: 16px;
font-weight: 400;
line-height: 26px;
width: 530px;
}
.tours-img{
    width: 540px;
height: 550px;
border-radius: 16px;
background: url(<path-to-image>), lightgray 50% / cover no-repeat;
margin-left: 50px;
}
/*destination styles*/
.dest-title{
    color: #131318;
text-align: center;
font-size: 40px;
font-weight: 800;
}
.dest-p{
    color: rgba(19, 19, 24, 0.70);
text-align: center;
font-size: 16px;
font-weight: 400;
line-height: 26px;
width: 643px;
padding:0 390px 0 390px;
}
.mal{
    background-image: url(../Images/Rectangle\ 5.png);
    width: 573px;
height: 300px;
border-radius: 16px;
background-repeat: no-repeat;
}
.ind{
    background-image: url(../Images/Rectangle\ 8.png);
    width: 573px;
height: 300px;
background-repeat:no-repeat;
margin-left: 24px;
}
.sri{
    background-image: url(../Images/Rectangle\ 6.png);
    width: 374px;
height: 286px;
border-radius: 16px;
}
.na{
    background-image: url(../Images/Rectangle\ 7.png);
    width: 474px;
height: 286px;
border-radius: 16px;
margin-left: 24px;
}
.kas{
    background-image: url(../Images/Rectangle\ 9.png);
    width: 274px;
height: 286px;
border-radius: 16px;
margin-left: 24px;
}
.bang{
    background-image: url(../Images/Rectangle\ 11.png);
    width: 473px;
height: 300px;
border-radius: 16px;
}
.band{
    background-image: url(../Images/Rectangle\ 10.png);
    width: 673px;
height: 300px;
border-radius: 16px;
margin-left: 24px;
}
.div1{
    display:flex;
    padding: 0px 135px 0px 135px ;
}
.div2{
    display:flex;
    padding: 0px 135px 0px 135px ;
}
.div3{
    display:flex;
    padding: 0px 135px 0px 135px ;
}
.c-name{
    color: #FFF;
text-align: center;
font-size: 28px;
font-weight: 800;
}
/*why styles*/
.why-title{
    color: #131318;
text-align: center;
font-size: 40px;
font-weight: 800;
}
.why-p{
    color: rgba(19, 19, 24, 0.70);
text-align: center;
font-size: 16px;
font-weight: 400;
line-height: 26px;
width: 643px;
padding:0 390px 0 390px;
}
.hh{
    width: 540px;
height: 284px;
border-radius: 16px;
border: 1px solid rgba(251, 181, 99, 0.20);
background: rgba(251, 181, 99, 0.05);
margin-left: 130px;
padding: 20px;
}
hht{
    color: #131318;
text-align: center;
font-size: 24px;
font-weight: 800;
}
hhp{
    color: #5A5A5D;
font-size: 16px;
font-weight: 400;
line-height: 26px; 
width: 486px;
}
.wc{
    width: 540px;
height: 284px;
border-radius: 16px;
border: 1px solid rgba(41, 206, 246, 0.20);
background: rgba(41, 206, 246, 0.05);
margin-left: 24px;
padding: 20px;
margin-right: 130px;
}
.wct{
    color: #131318;
font-size: 24px;
font-weight: 800;
}
wcp{
    color: #5A5A5D;
font-size: 16px;
font-weight: 400;
line-height: 26px; /* 162.5% */
}
.r1{
    display: inline-flex;
}
.bp{
    width: 573px;
height: 284px;
border-radius: 16px;
border: 1px solid rgba(233, 68, 68, 0.20);
background: rgba(233, 68, 68, 0.05);
margin-left: 430px;
margin-top: 40px;
padding: 20px;
}
.bpt{
    color: #131318;
font-family: Mulish;
font-size: 24px;
font-style: normal;
font-weight: 800;
line-height: normal;
}
.bpp{
    color: #5A5A5D;
font-family: Mulish;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 26px; /* 162.5% */
width: 486px;
}
.news-d1{
    width: 474px;
height: 422px;
border-radius: 16px;
border: 1px solid #FF5400;
padding: 20px;
}
.news-title{
    color: #131318;
font-size: 24px;
font-weight: 800;
}
.news-p{
    color: #5A5A5D;
font-size: 16px;
font-weight: 400;
line-height: 26px;
}
.inpt{
    width: 393px;
height: 52px;
border-radius: 8px;
background: rgba(19, 19, 24, 0.05);
margin-top: 16px;
border: 0;
padding-left: 10px;
}
.news-btn{
    width: 393px;
height: 52px;
border-radius: 8px;
background: #FF5400;
margin-top: 20px;
color: #FFF;
text-align: center;
font-size: 20px;
font-weight: 800;
border: 0;
}
.news{
    display: inline-flex;
    padding: 100px 135px 100px 135px;
}
.news-d2{
    margin-left: 24px;
    width: 672px;
height: 422px;
border-radius: 16px;
border: 1px solid #FF5400;
}
.line1{
    width: 393px;
height: 1px;
background: rgba(19, 19, 24, 0.10);
}
/*footer */
.foots{
background: rgba(19, 19, 24, 0.05);
}
.ft-ti{
    color: #FF5400;
font-size: 32px;
font-weight: 800;
text-align: center;
}
.ft-p{
    color: #5A5A5D;
text-align: center;
width: 769px;
font-size: 16px;
font-weight: 400;
line-height: 26px; /* 162.5% */
margin: 0 335px 0 335px;
}
.ft-s{
    padding: 20px 632px 100px 632px;
}
.ft-p2{
    color: #131318;
font-family: Inter;
font-size: 16px;
font-weight: 300;
padding: 40px 625px 110px 625px;
}
/* responsive media quries */
@media screen   and (max-width:425px ) {
header{
    padding: 10px;
    max-width: 425px;
}
nav{
    flex-direction: column;
}
nav > ul{
    flex-direction: column;
}
.nav-div{
    flex-direction: column;
}
.banner{
    max-width: 425px;
}
.banner-input{
    flex-direction: column;
}
}
